
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Venues can be read by anyone.
    // Venues can only be created, updated, or deleted by the user
    // who owns the venue.
    match /venues/{venueId} {
      allow get: if true;
      allow list: if true;
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;

      // Staff can be read by anyone.
      // Staff can only be created, updated, or deleted by the user
      // who owns the venue.
      match /staff/{staffId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }

      // Schedules can be read by anyone.
      // Schedules can only be created, updated, or deleted by the user
      // who owns the venue.
      match /schedules/{scheduleId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }
      
      // Markers can be read by anyone.
      // Markers can only be created, updated, or deleted by the user
      // who owns the venue.
       match /markers/{markerId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }
       
      // Maps can be read by anyone.
      // Maps can only be created, updated, or deleted by the user
      // who owns the venue.
       match /maps/{mapId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }
      
      // External devices can be read by anyone.
      // External devices can only be created, updated, or deleted by the user
      // who owns the venue.
      match /externalDevices/{deviceId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }

      // Roles can be read by anyone.
      // Roles can only be created, updated, or deleted by the user
      // who owns the venue.
       match /roles/{roleId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }
      
      // Categories can be read by anyone and managed by the venue owner.
      match /categories/{categoryId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }

      // Positions can be read by anyone.
      // Positions can only be created, updated, or deleted by the user
      // who owns the venue.
      match /positions/{positionId} {
        allow get, list: if true;
        allow create, update, delete: if request.auth != null && get(/databases/$(database)/documents/venues/$(venueId)).data.ownerId == request.auth.uid;
      }
    }
  }
}
