
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSessionOwner(sessionId) {
      return request.auth != null && get(/databases/$(database)/documents/sessions/$(sessionId)).data.ownerId == request.auth.uid;
    }

    // Rule for collection group queries on 'roles'
    match /{path=**}/roles/{roleId} {
      allow get, list: if request.auth != null;
    }
    
    match /sessions/{sessionId}/{document=**} {
      allow read, write: if isSessionOwner(sessionId);
    }
    
    // Allow users to list only their own sessions.
    match /sessions/{sessionId} {
       allow get, write: if isSessionOwner(sessionId);
       allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
       allow list: if request.auth != null;
    }

     // Public read access for the 'venue' subcollection if `isPublic` is true
    match /sessions/{sessionId}/venue/{venueId} {
      allow get: if get(/databases/$(database)/documents/sessions/$(sessionId)/venue/$(venueId)).data.isPublic == true;
      allow list: if get(/databases/$(database)/documents/sessions/$(sessionId)/venue/$(venueId)).data.isPublic == true;
      allow read, write: if isSessionOwner(sessionId);
    }
  }
}
